{% extends "base_master.html" %}
{% block title %}
    Manage Data
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="accordion" id="accordionManageData">
            <!-- Departments -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#departments" aria-expanded="true" aria-controls="departments">
                  Departments
                </button>
              </h2>
              <div id="departments" class="accordion-collapse collapse" data-bs-parent="#accordionManageData">
                <div class="accordion-body">
                  <a href="{% url 'info:CreateDepartment' %}" class="btn btn-primary mb-3">Add Department</a>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for department in department_list %}
                        <tr>
                          <td>{{department.id}}</td>
                          <td>{{department.name}}</td>
                          <td>
                            <button class="btn btn-warning btn-sm" onclick="window.location = '{% url 'info:UpdateDepartment' department.id %}'">Update</button>
                            <button class="btn btn-danger btn-sm" onclick="window.location = '{% url 'info:DeleteDepartment' department.id %}'">Delete</button>
                          </td>
                        </tr>
                        {% empty %}
                          <tr>
                            <td colspan="3">
                              <div class="alert alert-info" role="alert">
                                No Departments found in the database
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Courses -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#courses" aria-expanded="false" aria-controls="courses">
                  Courses
                </button>
              </h2>
              <div id="courses" class="accordion-collapse collapse" data-bs-parent="#accordionManageData">
                <div class="accordion-body">
                  <a href="{% url 'info:CreateCourse' %}" class="btn btn-primary mb-3">Add Course</a>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Short Name</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for course in course_list %}
                        <tr>
                          <td>{{course.id}}</td>
                          <td>{{course.name}}</td>
                          <td>{{course.department}}</td>
                          <td>{{course.short_name}}</td>
                          <td>
                            <button class="btn btn-warning btn-sm" onclick="window.location = '{% url 'info:UpdateCourse' course.id %}'">Update</button>
                            <button class="btn btn-danger btn-sm" onclick="window.location = '{% url 'info:DeleteCourse' course.id %}'">Delete</button>
                          </td>
                        </tr>
                        {% empty %}
                          <tr>
                            <td colspan="5">
                              <div class="alert alert-info" role="alert">
                                No Courses found in the database
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Classes -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#classes" aria-expanded="false" aria-controls="classes">
                  Classes
                </button>
              </h2>
              <div id="classes" class="accordion-collapse collapse" data-bs-parent="#accordionManageData">
                <div class="accordion-body">
                  <a href="{% url 'info:CreateClass' %}" class="btn btn-primary mt-3" >Add Class</a>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Section</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Department</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for class in class_list %}
                        <tr>
                          <td>{{class.id}}</td>
                          <td>{{class.section}}</td>
                          <td>{{class.semester}}</td>
                          <td>{{class.department}}</td>
                          <td>
                            <button class="btn btn-warning btn-sm" onclick="window.location = '{% url 'info:UpdateClass' class.id %}'">Update</button>
                            <button class="btn btn-danger btn-sm" onclick="window.location = '{% url 'info:DeleteClass' class.id %}'">Delete</button>
                          </td>
                        </tr>
                        {% empty %}
                          <tr>
                            <td colspan="5">
                              <div class="alert alert-info" role="alert">
                                No Courses found in the database
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Students -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#students" aria-expanded="false" aria-controls="students">
                  Students
                </button>
              </h2>
              <div id="students" class="accordion-collapse collapse" data-bs-parent="#accordionManageData">
                <div class="accordion-body">
                  <a href="{% url 'info:CreateStudent' %}" class="btn btn-primary mt-3" >Add Student</a>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Roll Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">User</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for student in student_list %}
                        <tr>
                          <td>{{student.roll_number}}</td>
                          <td>{{student.name}}</td>
                          <td>{{student.gender}}</td>
                          <td>{{student.date_of_birth}}</td>
                          <td>{{student.user}}</td>
                          <td>
                            <button class="btn btn-warning btn-sm" onclick="window.location = '{% url 'info:UpdateStudent' student.roll_number %}'">Update</button>
                            <button class="btn btn-danger btn-sm" onclick="window.location = '{% url 'info:DeleteStudent' student.roll_number %}'">Delete</button>
                          </td>
                        </tr>
                        {% empty %}
                          <tr>
                            <td colspan="6">
                              <div class="alert alert-info" role="alert">
                                No Students found in the database
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}