{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                University 
            {% endblock title %}
        </title>
        {% bootstrap_css %}
    </head>
    <body>
        {% block header %}
            {% include "includes/navbar.html" %}
        {% endblock header %}

        {% block content %}
            
        {% endblock content %}
        
        {% bootstrap_javascript %}
    </body>
</html>